@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Montserrat&display=swap');



/* Styles contenu API */
h2 {
  color: maroon;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

h2::before {
  content: "--";
}

.flex-row-reverse {
  background-color: maroon;
  color: #fff;
}

iframe {
  width: 100%;
  min-height: 300px;
}
