@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Montserrat&display=swap');

/* Style pour le lien actif du menu */

nav .active {
  color: maroon;
}


/* Styles pour le contenu intégré via Contentful */
h2, h3 {
  color: maroon;
  font-size: 1.8rem;
  margin: 0.8rem 0;
  text-transform: uppercase;
  font-weight: 300;
}

h3 {
  font-size: 1.6rem;
}

h2::before, h3::before {
  content: "--";
}

iframe {
  width: 100%;
  min-height: 400px;
}

main ul {
  margin-left: 2rem;
}

main ul li {
  list-style-type: disc;
  list-style-position: outside;
}

.bg-secondary * {
  color: #fff;
}
